*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    height: 100vh;
    display: flex;
}
.screen{
    display: flex;

}
.color{
    color: white;
    text-shadow: 1px;
    display: flex;
    flex-direction: column;
    padding-top: 5px;
    text-align: center;
    flex: 1;
    height: 100vh;
    width: 20vh;
    background-color: #2a3bd6;
    justify-content: space-around;
}
.fa-solid{
    font-size: x-large;
    font-weight: bold; 
}
.fa-solid:hover{
cursor: pointer;
}
.copy{
    cursor: pointer;
    font-size: x-large;
    font-weight: bold;
}
.press{
    top: 50%;
    position: absolute;
    right: 50%;
    display: block;
}